@{
}

<h5 class="card-header bg-secondary text-white" style="text-align: center;">Minhas Ordens</h5>
<div class="card-body">
    <table class="table">
        <thead>
            <tr style="text-align: center;">
                <th scope="col">C/V</th>
                <th scope="col">Papel</th>
                <th scope="col">Qtd</th>
                <th scope="col">Preço</th>
                <th scope="col">Total</th>
                <th scope="col">Preço médio</th>
                <th scope="col">Data</th>
                <th scope="col">Status</th>
                <th scope="col">Cancelar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ordem in ViewBag.Ordens)
            {
                <tr class="table-light" style="text-align: center;">
                    <td>@ordem.Tipo</td>
                    <td>@ordem.Ticker</td>
                    <td>@ordem.Quantidade</td>
                    <td>@String.Format("{0:C2}", @ordem.PrecoUnitario)</td>
                    <td>@String.Format("{0:C2}", @ordem.Total)</td>
                    <td>@String.Format("{0:C2}", @ordem.PrecoMedio)</td>
                    <td>@String.Format("{0:dd/MM/yyyy HH:mm}", @ordem.DataHora)</td>
                    <td>@ordem.Status</td>
                    <td><i class="fa fa-trash" style="color: tomato;"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>
