@{
    ViewData["Title"] = "Home Page";
}

<div>  
    <br />

    <div class="row">
        <div class="col">
            <div class="card border border-secondary">
                <h5 class="card-header bg-secondary text-white" style="text-align: center;">Livro de Ofertas</h5>
                <div class="card-body">
                    <div id="book-search">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Código da ação" aria-label="Papel">
                            <button class="btn btn-warning" type="submit">Buscar</button>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Corretora</th>
                                <th scope="col">Qtd</th>
                                <th scope="col">OFC</th>
                                <th scope="col">OFV</th>
                                <th scope="col">Qtd</th>
                                <th scope="col">Corretora</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var oferta in ViewBag.Ofertas)
                            {
                                <tr>
                                <td class="table-warning">@oferta.Corretora_Compra</td>
                                <td class="table-warning">@oferta.Quantidade_Compra</td>
                                <td class="table-warning">@String.Format("{0:C2}", @oferta.Valor_Compra)</td>
                                <td class="table-info">@String.Format("{0:C2}", @oferta.Valor_Venda)</td>
                                <td class="table-info">@oferta.Quantidade_Venda</td>
                                <td class="table-info">@oferta.Corretora_Venda</td>
                                </tr>
                            }                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border border-secondary">
                <h5 class="card-header bg-secondary text-white" style="text-align: center;"> Ordens</h5>
                <div class="card-body">
                    <div id="order-form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="lblType">Tipo</span>
                            <input type="text" id="inType" class="form-control" value="Mercado à vista" disabled>

                            <span class="input-group-text" id="lblDate">Data</span>
                            <input type="text" id="inDate" class="form-control" value="27/06/2021" disabled>
                        </div>
                        <form>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="lblTicker">Papel</span>
                                <input type="text" id="inTicker" class="form-control" placeholder="PETR4">

                                <span class="input-group-text" id="lblAmount">Quantidade</span>
                                <input type="number" id="inAmount" class="form-control" placeholder="100">

                                <span class="input-group-text" id="lblPrice">Preço</span>
                                <input type="number" id="inPrice" class="form-control" placeholder="0.00">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="lblSign">Assinatura digital</span>
                                <input type="password" id="inSign" class="form-control">

                                <span class="input-group-text" id="lblTotal">Total</span>
                                <input type="number" id="inTotal" class="form-control" placeholder="0.00" disabled>
                            </div>
                            <div style="display: flex; flex-direction: row; justify-content: space-evenly; padding: 5px 5px;">
                                <button class="btn btn-warning" type="submit">Comprar</button>
                                <button class="btn btn-info" type="submit">Vender</button>
                                <button class="btn btn-secondary" type="submit">Limpar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />

    <div class="card border border-secondary">
        <h5 class="card-header bg-secondary text-white" style="text-align: center;">Minhas Ordens</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">C/V</th>
                        <th scope="col">Papel</th>
                        <th scope="col">Qtd</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Total</th>
                        <th scope="col">Preço médio</th>
                        <th scope="col">Data</th>
                        <th scope="col">Status</th>
                        <th scope="col">Cancelar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var ordem in ViewBag.Ordens)
                    {
                        <tr class="table-light" style="text-align: center;">
                            <td>@ordem.Tipo</td>
                            <td>@ordem.Ticker</td>
                            <td>@ordem.Quantidade</td>
                            <td>@String.Format("{0:C2}", @ordem.PrecoUnitario)</td>
                            <td>@String.Format("{0:C2}", @ordem.Total)</td>
                            <td>@String.Format("{0:C2}", @ordem.PrecoMedio)</td>
                            <td>@String.Format("{0:dd/MM/yyyy HH:mm}", @ordem.DataHora)</td>
                            <td>@ordem.Status</td>
                            <td><i class="fa fa-trash" style="color: tomato;"></i></td>
                        </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>

    <br />

    <div class="card border border-secondary">
        <h5 class="card-header bg-secondary text-white" style="text-align: center;">Minhas Ações</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Papel</th>
                        <th scope="col">Empresa</th>
                        <th scope="col" style="text-align:right;">Quantidade</th>
                        <th scope="col" style="text-align:right;">Preço</th>
                        <th scope="col" style="text-align:right;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light">
                        <td>ITSA4</td>
                        <td>ITAUSA</td>
                        <td style="text-align:right;">400</td>
                        <td style="text-align:right;">12,31</td>
                        <td style="text-align:right;">4.924,00</td>
                    </tr>
                    <tr class="table-light">
                        <td>LAME4</td>
                        <td>LOJAS AMERICANAS</td>
                        <td style="text-align:right;">1000</td>
                        <td style="text-align:right;">21,37</td>
                        <td style="text-align:right;">21.370,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>
    

