@{
    var hoje = DateTime.Now.ToString("d");
    var vencto = DateTime.Now.AddDays(2).ToString("d");
    var nroNota = new Random().Next(0, 100000);
    var compras = 0.00;
    var vendas = 0.00;
}

<div id="nota-container">
    <div id="nota-header">
        <img src="~/img/logo-fat.png" alt="Logo" />

        <div id="nota-header-info">
            <span>Fat Pig Invest - Corretora de Valores</span> <br />
            CNPJ: 00.000.000/0000-00 | www.fatpig.com.br <br />
            Rua dos Porcos Gordos, 165 - Jardim Chiqueiro <br />
            00.000-000 | Chiqueirópolis | SP | Brasil
        </div>

        <div id="nota-header-pregao">
            Número da Nota<br />
            <span>@nroNota</span><br />
            Data do pregão<br />
            <span>@hoje</span>
        </div>
    </div>

    <div id="cliente">
        <div id="cliente-endereco">
            Investidor da Silva Junior <br />            
            Avenida das Flores, 214 - Residencial Primavera <br />
            00.000-000 | Chiqueirópolis | SP
        </div>
        <div id="cliente-cpf">
            CPF: 000.000.000-00 <br />
            Código do cliente: 000000
        </div>
    </div>

    <div id="operacoes">
        <table id="tabela" class="table">
            <thead>
                <tr style="text-align: center;">
                    <th>Mercado</th>
                    <th>CV</th>
                    <th>Tipo de Mercado</th>
                    <th>Especificação do Título</th>
                    <th>Obs</th>
                    <th style="text-align: right;">Quantidade</th>
                    <th style="text-align: right;">Preço/Ajuste</th>
                    <th style="text-align: right;">Valor/Ajuste</th>
                    <th>D/C</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ordem in ViewBag.Ordens)
                {
                    <tr style="text-align: center;">
                        <td>BOVESPA</td>
                        <td>@ordem.Tipo</td>
                        <td>VISTA</td>
                        <td>@ordem.Ticker</td>
                        <td></td>
                        <td style="text-align: right;">@ordem.Quantidade</td>
                        <td style="text-align: right;">@String.Format("{0:C2}", @ordem.PrecoMedio)</td>
                        <td style="text-align: right;">@String.Format("{0:C2}", @ordem.Total)</td>
                        <td>@(ordem.Tipo == 'C' ? 'D' : 'C')</td>
                    </tr>    
                    @(ordem.Tipo == 'C' ? compras+=@ordem.Total : vendas+=@ordem.Total)
                }
            </tbody>
        </table>
    </div>

    <div id="resumos">
        <div id="resumo-negocio">
            <div class="resumo-titulo">
                Resumo dos negócios
                <hr />
            </div>
            
            <div class="info">
                <div class="esquerda">Debêntures</div>
                <div class="direita">0,00</div>
            </div>
            <div class="info">
                <div class="esquerda">Vendas à vista</div>
                <div class="direita">@String.Format("{0:C2}", @vendas)</div>
            </div>
            <div class="info">
                <div class="esquerda">Compras à vista</div>
                <div class="direita">@String.Format("{0:C2}", @compras)</div>
            </div>
            <div class="info">
                <div class="esquerda">Opções - Compras</div>
                <div class="direita">0,00</div>
            </div>
            <div class="info">
                <div class="esquerda">Opções - Vendas</div>
                <div class="direita">0,00</div>
            </div>
            <div class="info">
                <div class="esquerda">Operações a Termo</div>
                <div class="direita">0,00</div>
            </div>
            <div class="info">
                <div class="esquerda">Valor das Oper. c/ Títulos Públ. (v.nom.)</div>
                <div class="direita">0,00</div>
            </div>
            <div class="info">
                <div class="esquerda">Valor das Operações</div>
                <div class="direita">@String.Format("{0:C2}", @compras + @vendas)</div>
            </div>
            
        </div>
        <div id="resumo-financeiro">
            <div class="resumo-titulo">
                Resumo Financeiro
                <hr />
            </div>

            <div class="info">
                <div class="esquerda">Clearing (CBLC)</div>
                <div class="direita"></div>
            </div>
            <div class="info">
                <div class="esquerda">Valor Líquido das Operações</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa de Liquidação</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa de Registro</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda total">Total Clearing (CBLC)</div>
                <div class="direita total">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">BOVESPA</div>
                <div class="direita"></div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa de Termo / Opções</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa A.N.A.</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">Emolumentos</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda total">BOVESPA</div>
                <div class="direita total">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">Corretagem/Despesas</div>
                <div class="direita"></div>
            </div>
            <div class="info">
                <div class="esquerda">Corretagem</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">ISS (SÃO PAULO)</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">I.R.R.F. s/ operações. Base 0,00</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda">Outras</div>
                <div class="direita">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda total">Total Corretagem/Despesas</div>
                <div class="direita total">0,00 D</div>
            </div>
            <div class="info">
                <div class="esquerda total">Líquido para @vencto</div>
                <div class="direita total">0,00 D</div>
            </div>
        </div>
    </div>

    <div id="observacoes">
        <div class="obs-titulo">Observações</div>
        <div id="obs-col">
            <div class="obs-coluna">
                2 - Corretora ou pessoa vinculada atuou na contra parte <br/>
                8 - Liquidação Institucional <br />
                F - Cobertura <br />
                C - Clubes e Fundos de Ações <br />
                H - Home Broker <br />
                P - Carteira Própria <br />
                L - Precatório <br />
                I - POP
            </div>
            <div class="obs-coluna obs-coluna-meio">
                # - Negócio direto <br />
                D - Day-Trade <br />
                B - Debêntures <br />
                A - Posição Futuro <br />
                X - Box <br />
                Y - Desmanche de Box <br />
                T - Liquidação pelo Bruto <br />
            </div>
            <div class="obs-coluna">
                 * As operações a termo não são computadas no líquido da fatura. <br />
                 * As informações contidas nessa nota são todas fictícias, utilizadas 
                 como exemplo para efeitos de design da solução desenvolvida.
            </div>
        </div>
    </div>
</div>
