@model HomeBrokerClient.Models.ViewModels.NotaViewModel

@{
    
}

<!--
<div id="salvar-pdf" class="row">
    <button id="btn-gerar-pdf" class="btn btn-warning" type="button" onclick="salvar_pdf()" >
        Salvar como PDF
    </button>
</div>
-->

<div id="nota-container">
    <div id="nota-header">
        <img src="~/img/logo-fat.png" alt="Logo" />

        <div id="nota-header-info">
            <span>Fat Pig Invest - Corretora de Valores</span> <br />
            CNPJ: 00.000.000/0000-00 | www.fatpig.com.br <br />
            Rua dos Porcos Gordos, 165 - Jardim Chiqueiro <br />
            00.000-000 | Chiqueirópolis | SP | Brasil
        </div>

        <div id="nota-header-pregao">
            Número da Nota<br />
            <span>@Model.NumeroNota</span><br />
            Data do pregão<br />
            <span>@String.Format("{0:dd/MM/yyyy}", @Model.Pregao)</span>
        </div>
    </div>

    <div id="cliente">
        <div id="cliente-endereco">
            @Model.NomeCliente <br />            
            @Model.Endereco - @Model.Bairro <br />
            @Model.Cep | @Model.Municipio | @Model.UF
        </div>
        <div id="cliente-cpf">
            CPF: @Model.CpfCliente <br />
            Código do cliente: @Model.CodigoCliente
        </div>
    </div>

    <div id="operacoes">
        <table id="tabela" class="table">
            <thead>
                <tr style="text-align: center;">
                    <th>Mercado</th>
                    <th>CV</th>
                    <th>Tipo de Mercado</th>
                    <th>Especificação do Título</th>
                    <th>Obs</th>
                    <th style="text-align: right;">Quantidade</th>
                    <th style="text-align: right;">Preço/Ajuste</th>
                    <th style="text-align: right;">Valor/Ajuste</th>
                    <th>D/C</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var ordem in Model.Ordens)
                {
                    <tr style="text-align: center;">
                        <td>BOVESPA</td>
                        <td>@ordem.Tipo</td>
                        <td>VISTA</td>
                        <td>@ordem.Ticker</td>
                        <td></td>
                        <td style="text-align: right;">@ordem.Quantidade</td>
                        <td style="text-align: right;">@String.Format("{0:C2}", @ordem.PrecoMedio)</td>
                        <td style="text-align: right;">@String.Format("{0:C2}", @ordem.Total)</td>
                        <td>@(ordem.Tipo == 'C' ? 'D' : 'C')</td>
                    </tr>                        
                }
            </tbody>
        </table>
    </div>

    <div id="resumos">
        <div id="resumo-negocio">
            <div class="resumo-titulo">
                Resumo dos negócios
                <hr />
            </div>
            
            <div class="info">
                <div class="esquerda">Debêntures</div>
                <div class="direita">@String.Format("{0:C2}", 0.00)</div>
            </div>
            <div class="info">
                <div class="esquerda">Vendas à vista</div>
                <div class="direita">@String.Format("{0:C2}", @Model.VendasAVista)</div>
            </div>
            <div class="info">
                <div class="esquerda">Compras à vista</div>
                <div class="direita">@String.Format("{0:C2}", @Model.ComprasAVista)</div>
            </div>
            <div class="info">
                <div class="esquerda">Opções - Compras</div>
                <div class="direita">@String.Format("{0:C2}", 0.00)</div>
            </div>
            <div class="info">
                <div class="esquerda">Opções - Vendas</div>
                <div class="direita">@String.Format("{0:C2}", 0.00)</div>
            </div>
            <div class="info">
                <div class="esquerda">Operações a Termo</div>
                <div class="direita">@String.Format("{0:C2}", 0.00)</div>
            </div>
            <div class="info">
                <div class="esquerda">Valor das Oper. c/ Títulos Públ. (v.nom.)</div>
                <div class="direita">@String.Format("{0:C2}", 0.00)</div>
            </div>
            <div class="info">
                <div class="esquerda">Valor das Operações</div>
                <div class="direita">@String.Format("{0:C2}", @Model.TotalOperacoes)</div>
            </div>
            
        </div>
        <div id="resumo-financeiro">
            <div class="resumo-titulo">
                Resumo Financeiro
                <hr />
            </div>

            <div class="info">
                <div class="esquerda">Clearing (CBLC)</div>
                <div class="direita"></div>
            </div>
            <div class="info">
                <div class="esquerda">Valor Líquido das Operações</div>
                <div class="direita">
                    @String.Format("{0:C2}", Math.Abs(@Model.LiquidoOperacoes)) 
                    @(@Model.LiquidoOperacoes < 0 ? 'D' : 'C') 
                </div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa de Liquidação</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(@Model.TaxaLiquidacao)) D</div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa de Registro</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(0.00)) D</div>
            </div>
            <div class="info">
                <div class="esquerda total">Total Clearing (CBLC)</div>
                <div class="direita total">
                    @String.Format("{0:C2}", Math.Abs(@Model.TotalCBLC)) 
                    @(@Model.TotalCBLC < 0 ? 'D' : 'C') 
                </div>
            </div>
            <div class="info">
                <div class="esquerda">BOVESPA</div>
                <div class="direita"></div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa de Termo / Opções</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(0.00)) D</div>
            </div>
            <div class="info">
                <div class="esquerda">Taxa A.N.A.</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(0.00)) D</div>
            </div>
            <div class="info">
                <div class="esquerda">Emolumentos</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(@Model.Emolumentos)) D</div>
            </div>
            <div class="info">
                <div class="esquerda total">BOVESPA</div>
                <div class="direita total">
                    @String.Format("{0:C2}", Math.Abs(@Model.TotalBolsa)) 
                    @(@Model.TotalBolsa < 0 ? 'D' : 'C') 
                </div>
            </div>
            <div class="info">
                <div class="esquerda">Corretagem/Despesas</div>
                <div class="direita"></div>
            </div>
            <div class="info">
                <div class="esquerda">Corretagem</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(@Model.Corretagem)) D</div>
            </div>
            <div class="info">
                <div class="esquerda">ISS (SÃO PAULO)</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(@Model.ISS)) D</div>
            </div>
            <div class="info">
                <div class="esquerda">I.R.R.F. s/ operações. Base 0,00</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(0.00)) D</div>
            </div>
            <div class="info">
                <div class="esquerda">Outras</div>
                <div class="direita">@String.Format("{0:C2}", Math.Abs(0.00)) D</div>
            </div>
            <div class="info">
                <div class="esquerda total">Total Corretagem/Despesas</div>
                <div class="direita total">@String.Format("{0:C2}", Math.Abs(@Model.TotalCorretagemDespesas)) D</div>
            </div>
            <div class="info">
                <div class="esquerda total">Líquido para @String.Format("{0:dd/MM/yyyy}", @Model.VenctoNota)</div>
                <div class="direita total">
                    @String.Format("{0:C2}", Math.Abs(@Model.LiquidoNota)) 
                    @(@Model.LiquidoNota < 0 ? 'D' : 'C') 
                </div>
            </div>
        </div>
    </div>

    <div id="observacoes">
        <div class="obs-titulo">Observações</div>
        <div id="obs-col">
            <div class="obs-coluna">
                2 - Corretora ou pessoa vinculada atuou na contra parte <br/>
                8 - Liquidação Institucional <br />
                F - Cobertura <br />
                C - Clubes e Fundos de Ações <br />
                H - Home Broker <br />
                P - Carteira Própria <br />
                L - Precatório <br />
                I - POP
            </div>
            <div class="obs-coluna obs-coluna-meio">
                # - Negócio direto <br />
                D - Day-Trade <br />
                B - Debêntures <br />
                A - Posição Futuro <br />
                X - Box <br />
                Y - Desmanche de Box <br />
                T - Liquidação pelo Bruto <br />
            </div>
            <div class="obs-coluna">
                 * As operações a termo não são computadas no líquido da fatura. <br />
                 * As informações contidas nessa nota são todas fictícias, utilizadas 
                 como exemplo para efeitos de design da solução desenvolvida.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="~/js/nota.js"></script>
}
